* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e0e;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 2rem;
}
.hero {
  text-align: center;
  padding: 1.8rem 1rem;
}
.hero span {
  color: #00f2fe;
}
.section {

  margin-top: 4rem;
}
h2{
   color: #f44c09;
}
h3{
  color:rgb(133, 216, 100);
}
ul{
  color:white;
}
h4{
  color:#d3cceb
}
.projects {
  text-align: left;
  margin-top: 0.5rem;
  font-size: large;
}

.project-list {
  padding-left: 1.2rem;
}

.project-title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #00f2fe;
}

.project-description {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: #f0f0f0;
  font-size: 0.95rem;
  list-style-type: disc;
}
.tools {
  margin-top: 0.1rem;
}

.tool-list {
  list-style-type: disc;
  padding-left: 1rem;
  font-size: 1rem;
  color: #f0f0f0;
}

.tool-list li {
  margin-bottom: 0.5rem;
}
h5{
  color: aquamarine;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.contact {
  margin-top: 1rem;
  text-align: center;
  font-size: medium;
}

.contact-text {
  margin: 1rem 0;
  font-size: 1rem;
  color: #f0f0f0;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-info a {
  color: #00f2fe;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ffffff;
}
span{
  color: #a37aca;
}

